@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

header {
  position: relative;
}

h2 {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

h3 {
  margin-top: 12px;
  margin-left: -8px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

h3:has(span) {
  display: flex;
  align-items: center;
}

h3 > span {
  font-weight: 500;
  font-size: 14px;
  margin-left: 32px;
}

body {
  background-color: #212121;
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-blocks {
  margin-top: 16px;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-block > p {
  padding-top: 8px;
  padding-right: 16px;

  font-size: 14px;
  text-indent: 20px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.work ul {
  position: relative;
  padding-left: 8px;
  margin-left: 40%;
}

.work small {
  writing-mode: vertical-rl;
  letter-spacing: 2px;
  text-orientation: mixed;
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.work ul li {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.logo {
  width: 127px;
  height: 127px;
  border-radius: 50%;
}

.sheet {
  position: relative;
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.name-label {
  justify-self: start;

  text-align: center;
  display: grid;
  gap: 4px;
}

.name {
  font-size: 32px;
}

.profession {
  color: #aaa;
}

.contacts {
  display: grid;
  gap: 8px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 2px 4px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  color: #212121;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.contact-logo {
  width: 24px;
  height: 24px;
}

.content {
  position: relative;
  display: grid;
  padding: 16px;
  padding-top: 0;
}

.skills {
  display: grid;
  grid-template-columns: 100px 70px 70px;
  place-items: start;
  row-gap: 8px;
  column-gap: 8px;
  padding-left: 16px;

  margin-top: 8px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  border: 1px solid rgba(221, 221, 221);
  border-radius: 8px;

  font-size: 12px;
  font-weight: 500;
}

.skill-logo {
  user-select: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.education {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.education > h2 {
  margin: 0;
  align-self: flex-start;
}

.personal-section {
  margin-top: 64px;
}

.personal {
  padding-left: 16px;
}

.personal > li:not(:last-child) > p {
  margin-bottom: 8px;
}

.work-section {
  width: 100%;
  justify-self: center;
  margin-top: 32px;
}

.work-section > div:nth-child(2)  {
  margin-left: 25%;
}

.work-section > div:nth-child(3)  {
  margin-left: 50%;
}

.work-section > div + div {
  margin-top: 32px;
}

.work-section .whoami {
  margin-top: 8px;
  max-width: 400px;
}

aside.content {
  padding-top: 16px;
}

.contribute-section {
  margin-top: 64px;
}

.contribute-section > div:nth-child(2)  {
  margin-left: 25%;
}

.contribute-section > div:nth-child(3)  {
  margin-left: 50%;
}
