@page {
  margin: 0;

  size: A4;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

/* Base. */

* {
  margin: 0;
  padding: 0;
}

.sheet > header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
}

body {
  display: grid;

  background-color: #212121;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  place-items: center;
}

ul {
  list-style: none;
}

h2 {
  margin-bottom: 4px;

  letter-spacing: .2px;

  color: #666;

  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
}

/* Content. */

main.content {
  display: grid;

  grid-template-areas: "personal timeline timeline";
}

.sheet {
  position: relative;

  width: 210mm;
  height: 297mm;
  margin: 16px;

  background-color: white;
}

.keywords {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

ul.keywords > li {
  padding: 4px 8px 6px 6px;

  border: 1px solid rgba(221, 221, 221);
  border-radius: 8px;

  font-size: 12px;
  font-weight: 500;
  line-height: 12px;

  gap: 4px;
}

.skill-logo {
  width: 24px;
  height: 24px;

  user-select: none;

  border-radius: 4px;
}

.logo {
  width: 128px;
  height: 128px;

  border-radius: 50%;
}

.name-label {
  display: grid;

  text-align: center;

  justify-self: start;
  gap: 4px;
}

.name {
  font-size: 32px;
}

.profession {
  color: #aaa;
}

#contacts {
  display: grid;

  gap: 8px;
}

.contact {
  display: flex;
  align-items: center;

  padding: 2px 12px 2px 4px;

  letter-spacing: .4px;

  color: #212121;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;

  font-size: 12px;
  font-weight: 600;

  gap: 8px;
}

.contact-logo {
  width: 24px;
  height: 24px;
}

/* Sections. */

section#personal {
  display: flex;
  flex-direction: column;

  padding: 0 16px;

  grid-area: personal;
  row-gap: 64px;
}

section#timeline {
  display: grid;

  padding: 0 16px;

  grid-area: timeline;
  row-gap: 24px;
}

section#languages,
section#skills,
section#achievements,
section#about {
  display: flex;
  flex-direction: column;

  row-gap: 12px;
}

section#about p {
  text-align: justify;
  text-indent: 12px;
}

section#about p::before {
  position: relative;
  left: -12px;

  content: "—";
}

section#achievements > ul {
  display: flex;
  flex-direction: column;

  row-gap: 4px;
}

section#achievements > ul > li > p::before {
  position: relative;
  left: -4px;

  content: "—";
}

section#languages > ul > li > p{
  text-indent: 4px;
}

section#languages > ul > li > p::before {
  position: relative;
  left: -4px;

  content: "—";
}

.work,
.education {
  display: grid;

  padding: 8px 0;

  row-gap: 12px;
}

.work__position,
.education__position {
  color: #aaa;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.work__period,
.education__period {
  font-size: 20px;
  font-weight: 400;
}

.work__responsibilities {
  display: grid;

  text-align: justify;

  row-gap: 4px;
}

.work__responsibilities > li > p::before {
  position: relative;
  left: -16px;

  content:  "—";
}

.work__responsibilities > li {
  text-indent: 16px;
}

.work__stack {
  display: flex;

  font-size: 12px;

  gap: 8px;
}

.work__stack > li {
  text-decoration: underline;

  text-underline-offset: 2px;
}
